input
{
	min-width: 100%;
}

input, textarea, select
{
	border: 1px solid #AAA;
	padding: 2px 8px;
	margin-top: 2px;
	background-color: #F9F9F9;
}

input:hover, input:focus, textarea:hover, textarea:focus
{
	border: 1px solid #777;
	background-color: #FDFDFD;
}

header input[placeholder="Rechercher"]
{
	font-style: italic;
	width: 80%;
}

header input[type="submit"]
{
	width: 10%;
	margin-left: -10%;
}

input[type="submit"]
{
	color: #FAFAFA;
	background-color: #48A200;
	min-width: auto;
	padding: 1px 8px;
}

input[type="submit"]:hover
{
	cursor: pointer;
	background-color: #52AC0A;
}

#connect
{
	display: inline-block;
	width: 50%;
	margin-left: 25%;
}

form[action="nouveau.php"] textarea
{
	height: 300px;
	width: 82%;
}

form[action="nouveau.php"] div
{
	vertical-align: top;
}

form[action="nouveau.php"] select
{
	width: 100%;
}

form[action="nouveau.php"] h3
{
	display: inline-block;
	margin: 0;
}

@media screen and (max-width: 811px)
{
	form[action="nouveau.php"] div, form[action="nouveau.php"] textarea
	{
		width: 100%;
	}
}

@media screen and (max-width: 700px)
{
	#connect
	{
		min-width: 100%;
		margin: 0;
	}
}
