a.pub_link
{
	display: inline-block;
	min-width: 200px;
	min-height: 110px;
	max-height: 180px;
	width: 100%;
	margin-bottom: 5px;
	overflow: hidden;
	box-shadow: 0 0 2px #555;
	color: #353535;
	text-decoration: none;
	transition: box-shadow 0.15s;
}

a.pub_link p
{
	padding: 6px;
}

a.pub_link:hover
{
	box-shadow: 0 0 5px #111;
}

a.pub_link h2
{
	font-family: serif;
	background-color: #00314D;
	margin: 0;
	color: white;
	padding: 2px 0;
}

a#head_post.pub_link h2,
#head_post2 a.pub_link h2
{
	background-color: #C33D32;
}

#recent_post a.pub_link h2
{
	background-color: #5BAA36;
}

.category a.pub_link h2
{
	background-color: #00314D;
}
